<h3><%= "#{@user.username}'s Profile" %></h3>
<ul>
	<li>Location: <%= @user.location %></li>
	<li>Bio: <%= @user.bio %></li>
</ul>

<h3><%= "#{@user.username}'s Blog Posts" %></h3>
<ul>
	<% @user.blogs.each do |blog| %>
		<li><%= blog.body %> (<%= link_to "Delete Post", blog_path(blog), method: "delete" %>)</li>
	<% end %>
</ul>

<p><%= link_to "New Blog!", new_blog_path %></p>

<h3><%= "#{@user.username}'s Followed Blogs" %></h3>
<ul>
	<% @user.followeds.each do |user| %>
		<li><%= user.username %> <%= follow_link(current_user, user) %></li>
	<% end %>
</ul>