<h1>User</h1>
<h3><%= @user.username %></h3>
<ul>
	<li>location: <%= @user.location %></li>
	<li>bio: <%= @user.bio %></li>
</ul>

<h3><%= "#{@user.username}'s Blogs" %></h3>
<ul>
	<% @user.blogs.each do |blog| %>
		<li><%= blog.body %> (<%= link_to "X", blog_path(blog), method: "delete" %>)</li>
	<% end %>
</ul>

<p><%= link_to "New Blog!", new_blog_path %></p>